<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width initial-scale=1.0">

	<title>hyu-test</title>

	<!-- Style -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="/static/js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	{% block body %}
	{% endblock %}
</body>


</html>