{% extends "head.html" %}
{% block body %}
<div class="containter">
	<div class="row">
		<div class="col-md-2 col-md-offset-1"><a id="textDefault" href="/second"><h2>Crawler</h2></a></div>
	</div>
	<div class="row">
		<form action="second" method="GET">
			<br>
			<div class="col-md-6 col-md-offset-1">
				<input type="text" name="url" placeholder="Input url that you want to crawl" size="40">
			</div>
			<div class="col-md-4">
				<input type="text" name="tagName" placeholder="Input tag name">
				<input type="submit" name='classTag' value="Class">
				<input type="submit" name='idTag' value="ID">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		{% if arr %}
		<h2>Results of crawling</h2>
		{% for i in arr %}
		{{i}}<br>
		{% endfor %}
		{% endif %}
	</div>
</div>
</div>
{% endblock %}